<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HST - Login</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet" />
  </head>
  <body>
    <div
      class="flex h-screen w-screen overflow-auto"
      style="
        background-image: url('https://cdn.discordapp.com/attachments/1057262035878035546/1057511219709358241/ets2_20221227_202608_00.png');
        background-size: cover !important;
        background-repeat: no-repeat !important;
      "
    >
      <div
        class="flex flex-wrap items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 overflow-auto"
      >
        <div
          class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 p-8"
          style="background-color: #1d2732"
        >
          <h1 class="text-bold text-2xl text-white text-center">Application Submitted!</h1>
          <p class="text-lg text-white">You will be contacted via email in regards to your application status.</p>
        </div>
      </div>
    </div>
  </body>
</html>
