<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HST - Login</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet" />
  </head>
  <body>
    <div
      class="flex h-screen w-screen overflow-auto"
      style="
        background-image: url('https://cdn.discordapp.com/attachments/1057262035878035546/1057511219709358241/ets2_20221227_202608_00.png');
        background-size: cover !important;
        background-repeat: no-repeat !important;
      "
    >
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <div
          class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 pl-3 pr-3"
          style="background-color: #1d2732"
        >
          <div class="p-6 sm:p-8">
            <h1
              class="text-2xl font-bold leading-tight tracking-tight md:text-3xl text-white text-center"
            >
              Welcome Back!
            </h1>
            <div class="space-y-4 md:space-y-6 mt-8">
              <input
                type="email"
                placeholder="Email"
                class="form-control rounded-lg w-full"
                id="email"
                style="background-color: #141a24; border-color: #141a24"
              />
              <input
                type="password"
                placeholder="Password"
                class="form-control rounded-lg w-full"
                id="password"
                style="background-color: #141a24; border-color: #141a24"
              />
              <!-- <div class="flex items-center justify-between mb-8">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="remember"
                      aria-describedby="remember"
                      type="checkbox"
                      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                    />
                  </div>
                  <div class="ml-3 text-sm mb-3">
                    <label
                      for="remember"
                      class="text-white dark:text-gray-300 font-medium"
                      >Remember me</label
                    >
                  </div>
                </div>
              </div> -->
              <button
                type="submit"
                class="w-full text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                style="background-color: #141a24"
                id="submit-button"
              >
                Sign in
              </button>
              <p class="text-sm text-white text-center">
                <a href="/apply" class="font-semibold">Click here to apply</a>
                or <a href="/forgot" class="font-semibold">Forgot Password?</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/login.js" type="text/javascript"></script>
    <script>
      $("#submit-button").click(function () {
        const email = $("#email").val();
        const password = $("#password").val();
        let ischecked = false;
        const remember = document.getElementById("remember");

        console.log('Hi!')

        if (email == "" || password == "") {
          Swal.fire({
            title: "Error!",
            text: "Please fill out all fields!",
            icon: "error",
            background: "#1d2732",
          });
          return;
        }

        if (remember.checked) {
           let ischecked = true;
        }

        const data = {
            email: email,
            password: password,
            remember: ischecked
        }

        $.ajax({
            contentType: "application/json",
            data: JSON.stringify(data),
            type: 'POST',
            url: '/auth/login'
        }).fail(() => {
            Swal.fire({
                title: 'Error!',
                text: 'There was an error logging in. Please try again later.',
                icon: 'error',
                background: "#1d2732",
            })
        }).done(() => {
            window.location.href = '/'
        })

      });
    </script>
  </body>
</html>
